
section.about {
    overflow: auto;
    padding-bottom:5%;
    
}
.about img {
    border-radius: 100%;
    width: 27%;
    float: left;
}

.about section.blurb {
  padding-left: 2%;
  float:left;
  width:68%;
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
}

.about p {
    font-size: 4.25rem;
    margin:0px;
    margin-bottom: 3%;
}