header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    z-index:5;
    padding-top:1%;
    padding-bottom:1%;
}

header > a {
    text-decoration: none;
    float: left;
}

header h1 {
    color: #279625;
    width: 100%;
    font-size: 10rem;
    font-family:'sceageusregular' ;
    text-shadow: 3px 4px 2px #38b6ff;
    letter-spacing: 10px;
    margin:0px;
}

header nav {
    width: 40%;
}

header ul {
    width: 100%;
}

header nav li {
    list-style-type: none;
    float: right;
    display: flex;
    justify-content: flex-end;
    padding-left: 40px;
    font-family:'sceageusregular' ;

}   

nav li a {
    text-decoration: none;
    color: #00491f;
    font-size: 4rem;
    text-align: center;

}

footer p{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    width:100%;
}