header {
    position: sticky;
    top:0;
    z-index:5;
    padding-top:1%;
    padding-bottom:1%;
}

header > a {
    text-decoration: none;
    float: left;
    width: 50%;
}

header h1 {
    color: #00491f;
    font-size: 9.5rem;
    font-family:'sceageusregular' ;
    text-shadow: 1.5px 2px 1px #279625;
    letter-spacing: 10px;
    margin:0px;
    float:left;
}

header nav#main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px;
}

ul.mainNav {
    width: 50%;
}
.mainNav > li {
    list-style-type: none;
    float: right;
    padding-left: 40px;
    font-family:'sceageusregular' ;

}   

nav#main li a {
    text-decoration: none;
    color: #00491f;
    font-size: 4rem;
    text-align: center;

}

nav#main li a:hover{
    color: #279625;
}

footer p{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    width:100%;
}

nav#mobile {
    width: 100%;
    clear:both;
    border: 5px solid red;
}

nav#mobile ul {
    width: 100%;
}

nav#mobile ul li {
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #00491f;
    padding:1%;
    text-align: left;
    float:left;
}

nav#mobile ul li a {
    width: 100%;
    color: #00491f;
    font-family:'sceageusregular' ;
    text-decoration: none;
}

.mainNav li.hide {
    display:none;
}

.hamburger span {
    width:30%;
}