@media screen and (max-width:2530px){
    section.home h1{
        font-size: 16rem;
    }
    header h1 {
        font-size: 9rem;
    }
    .about p {
        font-size: 4rem;
    }
}

@media screen and (max-width:2310px){
   
    header h1 {
        font-size: 8.5rem;
    }
    .about p {
        font-size: 3.75rem;
    }
    nav li a {
        font-size: 3.75rem;  
    }
}

@media screen and (max-width:2200px){
    section.home h1{
        font-size: 14rem;
    }
    header h1 {
        font-size: 8rem;
    }
    .about p {
        font-size: 3.5rem;
    }
    nav li a {
        font-size: 3.5rem;  
    }
}

@media screen and (max-width:2100px){
    section.home h1{
        font-size: 13.5rem;
        
    }
    header h1 {
        font-size: 7.5rem;
    }
    .about p {
        font-size: 3.25rem;
    }
    nav li a {
        font-size: 3.25rem;  
    }
}

@media screen and (max-width:2010px){
    section.home h1{
        width:93%;
        font-size:13rem;    
        background-size: 950px;
    }
    header h1 {
        font-size: 7rem;
    }
    .about p {
        font-size: 3rem;
    }

    nav li a {
        font-size: 3rem;  
    }

    .rating .material-symbols-outlined{
        font-size: 6rem;    
    }
}


@media screen and (max-width:1900px){
    section.home h1{
        width:95%;
        padding-right:10%; 
        padding-top: 475px;
    }
    header h1 {
        font-size: 6.5rem;
    }
    .about p {
        font-size: 2.8rem;
    }

    .rating .material-symbols-outlined{
        font-size: 5.5rem;    
    }

}

@media screen and (max-width:1800px){
    section.home h1{
        width:97%;
        padding-right:12%;
        background-size: 900px;
        padding-top: 450px; 
    }
    header h1 {
        font-size: 6rem;
    }

    .rating .material-symbols-outlined{
        font-size: 5rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 4rem;
    }

    .hardSkills > section > label {
        font-size: 4rem;
    }
}
@media screen and (max-width:1700px){
    section.home h1{
        width:98%;
        padding-right:11%; 
        padding-left: 13%; 
        font-size:12.5rem;
        background-size: 850px;  
        padding-top: 425px;   

    }
    
    header h1 {
        font-size: 5rem;
    }

    header nav {
        width: 45%;
    }
    .about p {
        font-size: 2.25rem;
    }
}

@media screen and (max-width:1620px){
    section.home h1{
        width:100%;
        padding-right:10%;
        background-size: 800px;  
        padding-top: 400px;
    }
    
    header h1 {
        font-size: 4rem;
    }
   
    header nav {
        width: 50%;
    }
    .about p {
        font-size: 2rem;
    }

    .rating .material-symbols-outlined{
        font-size: 4.5rem;    
    }

    progress {
        height:4.5rem;
    }
}

@media screen and (max-width:1550px){
    .rating .material-symbols-outlined{
        font-size: 4.5rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 3.5rem;
    }

    .hardSkills > section > label {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:1500px){
    section.home h1{
        padding-left: 7%;
        font-size:12rem;    
        background-size: 900px;
        padding-right:9%; 
        background-size: 750px; 
        padding-top: 375px;
    }
    
    header h1 span {
        display: none;
    }

    header h1 {
        font-size: 7rem;

    }
   
    header nav {
        width: 55%;
    }

    .about p {
        font-size: 1.75rem;
    }

    .consult h3 {
        font-size: 7.5rem;
    }
}

@media screen and (max-width:1450px){
    .rating .material-symbols-outlined{
        font-size: 4rem;    
    }

    .skillsInfo h4 {
        font-size: 6rem;
    }
    
    progress {
        height:4rem;
    }
}

@media screen and (max-width:1400px){
    section.home h1{
        padding-right:8%; 
        font-size:11.5rem;
        background-size: 700px;
        padding-top: 350px;     

    }

    header nav {
        width: 60%;
    }
    h2 {
        font-size: 7.5rem;
    }
    .rating .material-symbols-outlined{
        font-size: 3.75rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 3.25rem;
    }

    .hardSkills > section > label {
        font-size: 3.25rem;
    }

    .consult h3 {
        font-size: 7rem;
    }

    ::placeholder{
        font-size: 1.8rem;
    }
}

@media screen and (max-width:1350px){
    .rating .material-symbols-outlined{
        font-size: 3.5rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 3rem;
    }

    .hardSkills > section > label {
        font-size: 3rem;
    }
}

@media screen and (max-width:1300px){
    header h1 {
        width:55%;
    }
   
    section.home h1{
        padding-left: 6%;
        font-size:11rem;    
        padding-right:7%; 
        background-size: 650px;
        padding-top: 325px; 
    }

    header nav {
        width: 65%;
    }
    h2 {
        font-size: 7rem;
    }
    
    .consult h3 {
        font-size: 6.5rem;
    }

    .consult input#email {
        height:6rem;
    }
    
    .consult input#phoneNumber {
        height:6rem;
    }
    
    
    #fname, #lname {
        height:6rem;
    
    }
    
    textarea {
        height: 18rem;
    }
   
    progress {
        height:3.5rem;
    }
}

@media screen and (max-width:1250px){
    ::placeholder{
        font-size: 1.6rem;
    }
}

@media screen and (max-width:1200px){

    header nav {
        width: 70%;
    }
    
    section.home h1{
        font-size:10rem;
        background-size: 600px; 
        padding-top:300px;    
    }
    h2 {
        font-size: 6.5rem;
    }

    .rating .material-symbols-outlined{
        font-size: 3.25rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 2.75rem;
    }

    .hardSkills > section > label {
        font-size: 2.75rem;
    }

    .consult h3 {
        font-size: 6rem;
    }
}

@media screen and (max-width:1150px){
    ::placeholder{
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 1120px){
    .consult h3 {
        font-size: 5.5rem;
    }
}

@media screen and (max-width:1100px){
   
    header nav {
        width: 75%;
    }
   
    section.home h1{
        font-size:9rem;
        background-size: 550px;
        padding-top: 275px;     
    }
    h2 {
        font-size: 6rem;
    }

    .about p {
        font-size: 2rem;
        margin-bottom: 5%;

    }
    .about img {
        border-radius: 50%;
        width: 31.5%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .about section.blurb {
        width: 100%;
        margin-top: 5%;
    }
    
    .aboutContent {
        display: flex;
        flex-direction: column;
    }
    
    .rating .material-symbols-outlined{
        font-size: 3rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 2.5rem;
    }

    .hardSkills > section > label {
        font-size: 2.5rem;
    }

    ::placeholder{
        font-size: 1.2rem;
    }

    .consult input#email {
        height:5rem;
    }
    
    .consult input#phoneNumber {
        height:5rem;
    }
    
    
    #fname, #lname {
        height:5rem;
    
    }
    
    textarea {
        height: 15rem;
    }

    .skillsInfo h4 {
        font-size: 5.5rem;
    }
    
}


@media screen and (max-width:1050px){
    header nav li { 
        display: none;
    }
    header nav ul{
        display: flex;
        justify-content: flex-end;
    }
    .hamburger {
        display: block;
    }
    header h1 {
        font-size: 6.5rem;
    }
    header nav {
        width: 70%;
    }

    section.home h1{
        font-size:8rem;
        background-size: 500px; 
        padding-top: 250px;
    }
    h2 {
        font-size: 5.5rem;
    }

    .about p {
        font-size: 1.8rem;
    }

    progress {
        height:3rem;
    }
}

@media screen and (max-width: 1023px){
    .consult h3 {
        font-size: 5rem;
    }
}

@media screen and (max-width:1010px){
    .rating .material-symbols-outlined{
        font-size: 2.75rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 2.25rem;
    }

    .hardSkills > section > label {
        font-size: 2.25rem;
    }

    .skillsInfo h4 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 933px){
    .consult h3 {
        font-size: 4.5rem;
    }
}


@media screen and (max-width:920px){
    .rating .material-symbols-outlined{
        font-size: 2.5rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 2rem;
    }

    .hardSkills > section > label {
        font-size: 2rem;
    }
}

@media screen and (max-width:900px){
    header h1 {
        font-size: 6rem;
    }
    section.home h1{
        font-size:7rem;
        background-size: 450px; 
        padding-top: 225px;
    }
    h2 {
        font-size: 5rem;
    }

    section.embeds{
        width: 100%;
        padding-left:5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
    }
    
    .embeds section {
        width: 100%;
        margin-right: 0%;
        padding-top:56%;
    }
    section.portfolio {
        margin-bottom:2%;
    }

    section.embeds a.seeMore {
        display:block;
    }

    .mobileHide{
        display:none !important;
    }

    .about p {
        font-size: 1.6rem;
    }
    
    .skillsInfo h4 {
        font-size: 4.5rem;
    }

    progress {
        height:2.5rem;
    }
}


@media screen and (max-width: 840px){
    .consult h3 {
        font-size: 4rem;
    }
}


@media screen and (max-width:830px){
    .rating .material-symbols-outlined{
        font-size: 2.25rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 1.75rem;
    }

    .hardSkills > section > label {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:800px){
    header h1 {
        font-size: 5.5rem;
    }
    section.home h1{
        font-size:6rem;
        background-size: 400px; 
        padding-top: 200px;
        padding-right:15%;

    }
    h2 {
        font-size: 4.5rem;
    }

    .about p {
        font-size: 1.4rem;
    }
    .skillsInfo h4 {
        font-size: 4rem;
    }

    .skillsContent {
        flex-direction: column;
    }

    section.consult {
        width:100%;
        margin-right:3%;
    }
    section.skillsInfo {
        width:100%;
        padding-left:0px;
        padding-right:0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    section.softSkills {
        width:50%;
    }

    section.hardSkills {
        width:50%;
    }
}

@media screen and (max-width: 749px){
    .consult h3 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:700px){
    header h1 {
        font-size: 5rem;
    }
    section.home h1{
        font-size:5rem;
        background-size: 350px;
        padding-top: 175px;
    }
    h2 {
        font-size: 4rem;
    }

    .about p {
        font-size: 1.2rem;
    }

    .skillsInfo h4 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 660px){
    .consult h3 {
        font-size: 3rem;
    }
}

@media screen and (max-width:600px){
    header h1 {
        font-size: 4.5rem;
    }
    section.home h1{
        font-size:4rem;
        background-size: 300px;
        padding-top: 150px;
        padding-right:17%;
   
    }

    h2 {
        font-size: 3.5rem;
    }

    section.embeds a.hide {
        font-size: 1.5rem;
    }

    .about p {
        font-size: 1rem;
    }
    .skillsInfo h4 {
        font-size: 3rem;
    }

    .rating .material-symbols-outlined{
        font-size: 2rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 1.5rem;
    }

    .hardSkills > section > label {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 565px){
    .consult h3 {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 525px){
    .rating .material-symbols-outlined{
        font-size: 1.75rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 1.25rem;
    }

    .hardSkills > section > label {
        font-size: 1.25rem;
    }

    .skillsInfo h4 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:500px){
    header h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 475px){
    .consult h3 {
        font-size: 2rem;
    }

    .skillsInfo h4 {
        font-size: 3.25rem;
    }
}

@media screen and (max-width: 450px){
    .rating .material-symbols-outlined{
        font-size: 1.50rem;    
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 1rem;
    }

    .hardSkills > section > label {
        font-size: 1rem;
    }

    .skillsInfo h4 {
        font-size: 3rem;
    }
}

@media screen and (max-width:430px){
    .skillsInfo h4 {
        font-size: 2.75rem;
    }
}
@media screen and (max-width:400px){
    header h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }

    #fname, #lname {
        width: 100%;    
    }

    form > input, textarea {
        margin-bottom: 5%;  
        
    }

    section.skillsInfo {
        width:100%;
        padding-left:0px;
        padding-right:0px;
        display: flex;
        flex-direction: column;
    }

    .skillsInfo h4 {
        font-size: 4rem;
        text-align: center;
    }

    section.softSkills {
        width:100%;
    }

    section.hardSkills {
        width:100%;
    }

    .softSkills > section > span, .hardSkills > section > span {
        font-size: 2rem;
    }

    .hardSkills > section > label {
        font-size: 2.5rem;
    }

    .skillsInfo h4 {
        font-size: 2.5rem;
        margin-top:5%;
    }

    .rating .material-symbols-outlined{
        font-size: 2.5rem;    
    }

    section.consult {
        margin-top:5%;
    }
}

@media screen and (max-width:350px){
    .skillsInfo h4 {
        font-size: 2.25rem;
    }
}

@media screen and (max-width:300px){
    header h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
    section.embeds a.seeMore {
        font-size: 1rem;
    }

    .skillsInfo h4 {
        font-size: 2rem;
    }
}

